<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>Team Name: <%=@team[:name]%></h1>
     <p>Coach: <%=@team[:name]%></p>
     <p>Point Guard: <%=@team[:coach]%></p>
     <p>Shooting Guard: <%=@team[:sg]%></p>
     <p>Small Forward: <%=@team[:sf]%></p>
     <p>Power Forward: <%=@team[:name]%></p>
     <p>Center: <%=@team[:name]%></p>
 </body>
</html>
